CompileFlags:
  Add:
    - -ferror-limit=100
    - -D__C51__
    - -D__VSCODE_C51__
    - -Dreentrant=
    - -Dcompact=
    - -Dsmall=
    - -Dlarge=
    - -Ddata=
    - -Didata=
    - -Dpdata=
    - -Dbdata=
    - -Dxdata=
    - -Dcode=
    - -Dbit=char
    - -Dsbit=char
    - -Dsfr=char
    - -Dsfr16=int
    - -Dsfr32=int
    - -Dinterrupt(x)=
    - -Dusing(x)=
    - -D_at_(x)=
    - -D_priority_(x)=
    - -D_task_(x)=
    - -ID:\Keil5\C51\C51\INC\Atmel
    - -ID:\Keil5\C51\C51\INC
  Remove: []
Diagnostics:
  Suppress:
    - init_element_not_constant
    - redefinition_different_typedef
    - expected_fn_body
    - invalid_token_after_toplevel_declarator